<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.number_field :latitude, :class => 'text_field', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.number_field :longitude, :class => 'text_field', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :paymentMethods %><br>
    <%= f.text_field :paymentMethods %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :attendedPlaces %><br>
    <%= f.text_field :attendedPlaces %>
  </div>
  <div class="field">
    <%= f.label :operatingDateTime %><br>
    <%= f.text_field :operatingDateTime %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :creditCard_id %><br>
    <%= f.collection_select(:creditCard_id, CreditCard.all, :id, :ownerName) %>
  </div>
  <div class="field">
    <%= f.label :weeklyViews %><br>
    <%= f.number_field :weeklyViews %>
  </div>
  <div class="field">
    <%= f.label :monthlyViews %><br>
    <%= f.number_field :monthlyViews %>
  </div>
  <div class="field">
    <%= f.label :weeklyContacts %><br>
    <%= f.number_field :weeklyContacts %>
  </div>
  <div class="field">
    <%= f.label :monthlyContacts %><br>
    <%= f.number_field :monthlyContacts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
