<p id="notice"><%= notice %></p>

<h1>Listing Providers</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Age</th>
      <th>Rate</th>
      <th>Address</th>
      <th>Paymentmethods</th>
      <th>Value</th>
      <th>Attendedplaces</th>
      <th>Operatingdatetime</th>
      <th>Description</th>
      <th>Creditcard</th>
      <th>Weeklyviews</th>
      <th>Monthlyviews</th>
      <th>Weeklycontacts</th>
      <th>Monthlycontacts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.latitude %></td>
        <td><%= provider.longitude %></td>
        <td><%= provider.name %></td>
        <td><%= provider.age %></td>
        <td><%= provider.rate %></td>
        <td><%= provider.address %></td>
        <td><%= provider.paymentMethods %></td>
        <td><%= provider.value %></td>
        <td><%= provider.attendedPlaces %></td>
        <td><%= provider.operatingDateTime %></td>
        <td><%= provider.description %></td>
        <td><%= provider.creditCard.ownerName %></td>
        <td><%= provider.weeklyViews %></td>
        <td><%= provider.monthlyViews %></td>
        <td><%= provider.weeklyContacts %></td>
        <td><%= provider.monthlyContacts %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
