<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @provider.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @provider.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @provider.age %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @provider.rate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Paymentmethods:</strong>
  <%= @provider.paymentMethods %>
</p>

<p>
  <strong>Value:</strong>
  <%= @provider.value %>
</p>

<p>
  <strong>Attendedplaces:</strong>
  <%= @provider.attendedPlaces %>
</p>

<p>
  <strong>Operatingdatetime:</strong>
  <%= @provider.operatingDateTime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @provider.description %>
</p>

<p>
  <strong>Creditcard:</strong>
  <%= @provider.creditCard.ownerName %>
</p>

<p>
  <strong>Weeklyviews:</strong>
  <%= @provider.weeklyViews %>
</p>

<p>
  <strong>Monthlyviews:</strong>
  <%= @provider.monthlyViews %>
</p>

<p>
  <strong>Weeklycontacts:</strong>
  <%= @provider.weeklyContacts %>
</p>

<p>
  <strong>Monthlycontacts:</strong>
  <%= @provider.monthlyContacts %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
