<%= form_for(@credit_card) do |f| %>
  <% if @credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% @credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardNumber %><br>
    <%= f.text_field :cardNumber %>
  </div>
  <div class="field">
    <%= f.label :expirationMonth %><br>
    <%= f.number_field :expirationMonth %>
  </div>
  <div class="field">
    <%= f.label :expirationYear %><br>
    <%= f.number_field :expirationYear %>
  </div>
  <div class="field">
    <%= f.label :securityCode %><br>
    <%= f.number_field :securityCode %>
  </div>
  <div class="field">
    <%= f.label :ownerName %><br>
    <%= f.text_field :ownerName %>
  </div>
  <div class="field">
    <%= f.label :creditCardFlag %><br>
    <%= f.text_field :creditCardFlag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
