<p id="notice"><%= notice %></p>

<h1>Listing Credit Cards</h1>

<table>
  <thead>
    <tr>
      <th>Cardnumber</th>
      <th>Expirationmonth</th>
      <th>Expirationyear</th>
      <th>Securitycode</th>
      <th>Ownername</th>
      <th>Creditcardflag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_cards.each do |credit_card| %>
      <tr>
        <td><%= credit_card.cardNumber %></td>
        <td><%= credit_card.expirationMonth %></td>
        <td><%= credit_card.expirationYear %></td>
        <td><%= credit_card.securityCode %></td>
        <td><%= credit_card.ownerName %></td>
        <td><%= credit_card.creditCardFlag %></td>
        <td><%= link_to 'Show', credit_card %></td>
        <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
        <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit card', new_credit_card_path %>
