<p id="notice"><%= notice %></p>

<p>
  <strong>Cardnumber:</strong>
  <%= @credit_card.cardNumber %>
</p>

<p>
  <strong>Expirationmonth:</strong>
  <%= @credit_card.expirationMonth %>
</p>

<p>
  <strong>Expirationyear:</strong>
  <%= @credit_card.expirationYear %>
</p>

<p>
  <strong>Securitycode:</strong>
  <%= @credit_card.securityCode %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @credit_card.ownerName %>
</p>

<p>
  <strong>Creditcardflag:</strong>
  <%= @credit_card.creditCardFlag %>
</p>

<%= link_to 'Edit', edit_credit_card_path(@credit_card) %> |
<%= link_to 'Back', credit_cards_path %>
