<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table>
  <thead>
    <tr>
      <th>Facebookoauth</th>
      <th>Googleoauth</th>
      <th>User</th>
      <th>Password</th>
      <th>Name</th>
      <th>Profileimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.facebookOauth %></td>
        <td><%= client.googleOauth %></td>
        <td><%= client.user %></td>
        <td><%= client.password %></td>
        <td><%= client.name %></td>
        <td><%= client.profileImage %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
