<p id="notice"><%= notice %></p>

<p>
  <strong>Facebookoauth:</strong>
  <%= @client.facebookOauth %>
</p>

<p>
  <strong>Googleoauth:</strong>
  <%= @client.googleOauth %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @client.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Profileimage:</strong>
  <%= @client.profileImage %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
