<p id="notice"><%= notice %></p>

<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Rate</th>
      <th>Address</th>
      <th>Couver</th>
      <th>Paymentmethods</th>
      <th>Averagevalue</th>
      <th>Operatingdatetime</th>
      <th>Agendadescription</th>
      <th>Weeklyviews</th>
      <th>Monthlyviews</th>
      <th>Creditcard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>
        <td><%= place.name %></td>
        <td><%= place.rate %></td>
        <td><%= place.address %></td>
        <td><%= place.couver %></td>
        <td><%= place.paymentMethods %></td>
        <td><%= place.averageValue %></td>
        <td><%= place.operatingDateTime %></td>
        <td><%= place.agendaDescription %></td>
        <td><%= place.weeklyViews %></td>
        <td><%= place.monthlyViews %></td>
        <td><%= place.creditCard.ownerName %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
