<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @place.rate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Couver:</strong>
  <%= @place.couver %>
</p>

<p>
  <strong>Paymentmethods:</strong>
  <%= @place.paymentMethods %>
</p>

<p>
  <strong>Averagevalue:</strong>
  <%= @place.averageValue %>
</p>

<p>
  <strong>Operatingdatetime:</strong>
  <%= @place.operatingDateTime %>
</p>

<p>
  <strong>Agendadescription:</strong>
  <%= @place.agendaDescription %>
</p>

<p>
  <strong>Weeklyviews:</strong>
  <%= @place.weeklyViews %>
</p>

<p>
  <strong>Monthlyviews:</strong>
  <%= @place.monthlyViews %>
</p>

<p>
  <strong>Creditcard:</strong>
  <%= @place.creditCard.ownerName %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
